name: Deploy Goat-Server to GCP VM

on:
  push:
    branches: [ main, feature/dev ]

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: goat-server-deployment

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      # Set env for workflow #
      - name: Set env
        run: |
          echo "IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/goat-server" >> $GITHUB_ENV
          
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "TAG=latest" >> $GITHUB_ENV
            echo "WORK_DIR=/opt/goat-server" >> $GITHUB_ENV
            echo "GOAT_SERVER_PORT=8080" >> $GITHUB_ENV
            echo "GOAT_SERVER_NAME=goat-server" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/feature/dev" ]; then
            echo "TAG=dev" >> $GITHUB_ENV
            echo "WORK_DIR=/opt/goat-dev-server" >> $GITHUB_ENV
            echo "GOAT_SERVER_PORT=9090" >> $GITHUB_ENV
            echo "GOAT_SERVER_NAME=goat-dev-server" >> $GITHUB_ENV
          fi
      
      # Login to Docker Hub #
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build and push Docker image #
      - name: Build and Push
        run: |
          docker build -t ${IMAGE_NAME}:${TAG} .
          docker push ${IMAGE_NAME}:${TAG}
          
          echo "Pushed ${IMAGE_NAME}:${TAG}"

      # Authenticate to Google Cloud #
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      # Install stable gcloud CLI
      - name: Install specific gcloud version
        uses: google-github-actions/setup-gcloud@v3
        with:
          version: '543.0.0'
          install_components: 'beta'

      # Setup Cloud SDK #
      - name: Configure gcloud to use credentials
        run: |
          gcloud config set project ${{ secrets.GCP_PROJECT_ID }}
          gcloud info | grep Account

      # Deploy to GCP VM #
      - name: Deploy image to GCP VM
        run: |
          export GOOGLE_APPLICATION_CREDENTIALS="$GOOGLE_GHA_CREDS_PATH"
          GCP_VM_NAME="goat-server"
          GCP_ZONE="asia-east1-a"
          
          gcloud beta compute ssh "${GCP_VM_NAME}" \
            --zone="$GCP_ZONE" \
            --tunnel-through-iap \
            --command "
              cd ${WORK_DIR}
              echo 'Pulling latest image...'
              sudo podman pull docker.io/${IMAGE_NAME}:${TAG}
              echo 'Stopping old container...'
              sudo podman stop ${GOAT_SERVER_NAME} || true
              sudo podman rm ${GOAT_SERVER_NAME} || true
              echo 'Starting new container...'
              sudo podman run -d \
                --name ${GOAT_SERVER_NAME} \
                --network goat-net \
                -p ${GOAT_SERVER_PORT}:${GOAT_SERVER_PORT} \
                -v ./config:/app/config:ro \
                -v .env:/app/.env:ro \
                ${IMAGE_NAME}:${TAG}
              echo 'Deployment complete'
            "